<h2>Đặt lại mật khẩu</h2>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Vui lòng nhập email</label>
    <input
      type="email"
      name="email"
      class="form-control"
      placeholder="Email..."
      required
    />
  </div>
  <div class="d-grid">
    <button type="submit" class="btn btn-primary">Tiếp theo</button>
  </div>
  <div>
    <p>
      Đăng nhập
      <a href="/auth/login">tại đây</a>
    </p>
  </div>
</form>
