<h2>Đặt lại mật khẩu</h2>
<%- msg.length ? `
<div class="alert alert-danger">${msg}</div>
` : "" %>
<form action="" method="post">
    <div class="mb-2">
        <label>Nhập mật khẩu mới</label>
        <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Mật khẩu..."
            required
        />
    </div>

    <div class="mb-2">
        <label>Nhập lại mật khẩu mới</label>
        <input
            type="password"
            name="repassword"
            class="form-control"
            placeholder="Mật khẩu..."
            required
        />
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Gửi</button>
    </div>
</form>
