<h1>Nội dung Email</h1>
<p style="font-size: 16px; font-weight: 700">Email gửi đến:</p>
<p><%= email %></p>
<p style="font-size: 16px; font-weight: 700">Tiêu đề:</p>
<p><%= title %></p>
<p style="font-size: 16px; font-weight: 700">Nội dung:</p>
<p><%= content %></p>
