<!-- about section start -->
<div class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about_taital_main">
          <div class="about_taital"><%= aboutInfo.title %></div>
          <p class="about_text"><%= aboutInfo.desc1%></p>
          <p class="about_text"><%= aboutInfo.desc2%></p>
          <div class="read_bt"><a href="#">Read More</a></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about_img">
          <img src="/assets/images/about-img.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- about section end -->
