<!-- services section start -->
<div class="services_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="services_taital"><%= servicesInfo.title %></h1>
        <p class="services_text"><%= servicesInfo.desc %></p>
      </div>
    </div>
    <div class="services_section_2">
      <div class="row">
        <% if (listServices && listServices.length) { %> <%
        listServices.forEach(function(service) { %>
        <div class="col-lg-4 col-sm-12 col-md-4">
          <div class="box_main active">
            <div class="house_icon">
              <img src="/assets/images/icon1.png" class="image_1" />
              <img src="/assets/images/icon1.png" class="image_2" />
            </div>
            <h3 class="decorate_text"><%= service.title %></h3>
            <p class="tation_text"><%= service.desc %></p>
            <div class="readmore_bt"><a href="#">Read More</a></div>
          </div>
        </div>
        <% }); %> <% } %>
      </div>
    </div>
  </div>
</div>
<!-- services section end -->
